@use "@/app/_styles/mixins.scss" as m;
@use "@/app/_styles/variables.scss" as v;

.container {
  display: flex;
  justify-content: center;
  padding: 10px;
  padding-top: #{v.$nav-height};
}

.inner {
  @include m.wd;
}
